# Entornos virtuales
.venv/
venv/

# Archivos Python compilados
__pycache__/
*.py[cod]
*$py.class

# Entornos de configuración
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Archivos de logs o temporales
*.log
*.tmp
*.bak

# Resultados y salidas pesadas
outputs/
*.h5
*.hdf5
*.pkl
*.joblib
*.npy
*.npz

# Datos crudos o externos (NO versionar datasets grandes)
data/** 

# Archivos grandes de entrenamiento
*.ckpt
*.pt
*.pth

# Configuración IDEs
.vscode/
.idea/

# MacOS / Windows basura
.DS_Store
Thumbs.db
