numpy
pandas
matplotlib
scikit-learn
seaborn
tqdm

xarray
rioxarray
dask
netCDF4
zarr
pyproj
cartopy
pvlib

boto3
s3fs

tensorflow
optuna
optuna-integration

opencv-python
mlflow

jupyterlab
notebook
